@page
@model IndexModel
@{
	ViewData["Title"] = "Profile";
	ViewData["ActivePage"] = ManageNavPages.Index;
}

@section stylesheets {
	<link href="~/css/userProfile.css" rel="stylesheet">
}

<partial name="_StatusMessage" for="StatusMessage" />
<section id="" class="main container-fluid my-3">
	<section class="section profile">
		<div class="row">
			<div class="col-xl-4">
				<div class="card">
					<div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
						@{
							if (!string.IsNullOrEmpty(Model.Input.ProfilePicture))
							{
								<img src="/ProfilePicture/@Model.Input.ProfilePicture" alt="Profile" class="rounded-circle">
							}
							else
							{
								<img src="~/img/default-avt.jpg" alt="Profile" class="rounded-circle">
							}
						}
						<h2>@Model.Input.FirstName @Model.Input.LastName</h2>
						<div class="social-links mt-2">
							<a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
							<a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
							<a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
							<a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
						</div>
					</div>
				</div>
			</div>

			<div class="col-xl-8">

				<div class="card">
					<div class="card-body pt-3">
						<!-- Bordered Tabs -->
						<ul class="nav nav-tabs nav-tabs-bordered">

							<li class="nav-item">
								<button class="nav-link active" data-bs-toggle="tab"
										data-bs-target="#profile-overview">
									Overview
								</button>
							</li>

							<li class="nav-item">
								<button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">
									Edit
									Profile
								</button>
							</li>

						</ul>
						<div class="tab-content pt-2">

							<div class="tab-pane fade show active profile-overview" id="profile-overview">
								<h5 class="card-title">About</h5>
								<p class="small fst-italic">
									Sunt est soluta temporibus accusantium neque nam maiores
									cumque temporibus. Tempora libero non est unde veniam est qui dolor. Ut sunt
									iure rerum quae quisquam autem eveniet perspiciatis odit. Fuga sequi sed ea
									saepe at unde.
								</p>

								<h5 class="card-title">Profile Details</h5>

								<div class="row">
									<div class="col-lg-3 col-md-4 label ">First Name</div>
									<div class="col-lg-9 col-md-8">@Model.Input.FirstName</div>
								</div>

								<div class="row">
									<div class="col-lg-3 col-md-4 label ">Last Name</div>
									<div class="col-lg-9 col-md-8">@Model.Input.LastName</div>
								</div>

								<div class="row">
									<div class="col-lg-3 col-md-4 label">@(Model.Input.Gender ? "Male" : "Female")</div>
									<div class="col-lg-9 col-md-8">Male</div>
								</div>

								<div class="row">
									<div class="col-lg-3 col-md-4 label">Birthday</div>
									<div class="col-lg-9 col-md-8">@Model.Input.Birthday.ToString("MMMM dd yyyy")</div>
								</div>

								<div class="row">
									<div class="col-lg-3 col-md-4 label">Address</div>
									<div class="col-lg-9 col-md-8">@Model.Input.Address</div>
								</div>

								<div class="row">
									<div class="col-lg-3 col-md-4 label">Phone</div>
									<div class="col-lg-9 col-md-8">@Model.Input.PhoneNumber</div>
								</div>

								<div class="row">
									<div class="col-lg-3 col-md-4 label">Email</div>
									<div class="col-lg-9 col-md-8">@Model.Input.Email</div>
								</div>

							</div>

							<div class="tab-pane fade profile-edit pt-3" id="profile-edit">

								<!-- Profile Edit Form -->
								<form id="profile-form" method="post" enctype="multipart/form-data">
									<div class="row mb-3">
										<label for="profileImage" class="col-md-4 col-lg-3 col-form-label">
											Profile
											Image
										</label>
										<div class="col-md-8 col-lg-9">
											@{
												if (!string.IsNullOrEmpty(Model.Input.ProfilePicture))
												{
													<img src="/ProfilePicture/@Model.Input.ProfilePicture" alt="Profile">
												}
												else
												{
													<img src="~/img/default-avt.jpg" alt="Profile">
												}
											}
											<div class="pt-2">
												<input asp-for="Input.ImageFile" class="btn btn-primary btn-sm" />
												<a class="btn btn-danger btn-sm" title="Remove my profile image"><i class="bi bi-trash"></i></a>
											</div>
										</div>
									</div>

									<div class="row mb-3">
										<label asp-for="Input.FirstName" class="col-md-4 col-lg-3 col-form-label"></label>
										<div class="col-md-8 col-lg-9">
											<input asp-for="Input.FirstName" class="form-control" />
											<span asp-validation-for="Input.FirstName" class="text-danger"></span>
										</div>
									</div>

									<div class="row mb-3">
										<label asp-for="Input.LastName" class="col-md-4 col-lg-3 col-form-label"></label>
										<div class="col-md-8 col-lg-9">
											<input asp-for="Input.LastName" class="form-control" />
											<span asp-validation-for="Input.LastName" class="text-danger"></span>
										</div>
									</div>

									<fieldset class="row mb-3">
										<label class="col-md-4 col-lg-3 col-form-label">Gender</label>
										<div class="col-md-8 col-lg-9">
											<div class="form-check">
												<input class="form-check-input" type="radio" asp-for="Input.Gender" id="maleGender" value="true" />
												<label class="form-check-label" for="maleGender">
													Male
												</label>
											</div>
											<div class="form-check">
												<input class="form-check-input" type="radio" asp-for="Input.Gender" id="femaleGender" value="false">
												<label class="form-check-label" for="femaleGender">
													Female
												</label>
											</div>
											<span asp-validation-for="Input.Gender" class="text-danger"></span>
										</div>
									</fieldset>

									<div class="row mb-3">
										<label asp-for="Input.Birthday" class="col-md-4 col-lg-3 col-form-label"></label>
										<div class="col-md-8 col-lg-9">
											<input type="date" asp-for="Input.Birthday" class="form-control">
											<span asp-validation-for="Input.Birthday" class="text-danger"></span>
										</div>
									</div>

									<div class="row mb-3">
										<label asp-for="Input.Address" class="col-md-4 col-lg-3 col-form-label"></label>
										<div class="col-md-8 col-lg-9">
											<input asp-for="Input.Address" class="form-control" />
											<span asp-validation-for="Input.Address" class="text-danger"></span>
										</div>
									</div>

									<div class="row mb-3">
										<label asp-for="Input.PhoneNumber" class="col-md-4 col-lg-3 col-form-label"></label>
										<div class="col-md-8 col-lg-9">
											<input asp-for="Input.PhoneNumber" class="form-control" />
											<span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
										</div>
									</div>

									<div class="row mb-3">
										<label asp-for="Input.Email" class="col-md-4 col-lg-3 col-form-label"></label>
										<div class="col-md-8 col-lg-9">
											<input asp-for="Input.Email" class="form-control" readonly />
										</div>
									</div>

									<div class="text-center">
										<button id="update-profile-button" type="submit" class="btn btn-primary">Save Changes</button>
									</div>
								</form><!-- End Profile Edit Form -->

							</div>
						</div><!-- End Bordered Tabs -->

					</div>
				</div>

			</div>
		</div>
	</section>

</section><!-- End #main -->
@section Scripts {
	<!-- Vendor JS Files -->
	<script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	<!-- Template Main JS File -->
	<script src="~/js/main.js"></script>
	<partial name="_ValidationScriptsPartial" />
}
