@model IEnumerable<BusinessObjects.Book>
@{
	ViewData["Title"] = "Books List";
}

<div class="pt-2 mb-2">
	<h1 class="text-center">Books List</h1>
	<div class="text-center mb-2 row">
		<div class="col-12 d-flex justify-content-center align-items-center">
			<a asp-area="Owners" asp-controller="Book" asp-action="Create" class="btn btn-outline-info">
				<i class="bi bi-plus-circle"></i>
				Add
			</a>
		</div>
	</div>
	<table id="example" class="table table-striped" style="width:100%">
		<thead>
			<tr>
				<th>
					<strong>ID</strong>
				</th>
				<th>
					<strong>Book Title</strong>
				</th>
				<th>
					<strong>Genre</strong>
				</th>
				<th>
					<strong>Author</strong>
				</th>
				<th>
					<strong>Publisher</strong>
				</th>
				<th>
					<strong>Price</strong>
				</th>
				<th>
					<strong>Original Price</strong>
				</th>
				<th>
					<strong>Sale Percent</strong>
				</th>
				<th>
					<strong>Stock</strong>
				</th>
				<th>
					<strong>Image</strong>
				</th>
				<th>
					<strong>Edit</strong>
				</th>
				<th>
					<strong>Delete</strong>
				</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
				<tr>
					<td>@item.BookId</td>
					<td>@item.BookTitle</td>
					<td>@item.Genre.GenreName</td>
					<td>@item.Author.AuthorName</td>
					<td>@item.Publisher.PublisherName</td>
					<td>$@item.BookPrice</td>
					<td>@item.BookOriginalPrice</td>
					<td>@item.SalePercent%</td>
					<td>@item.BookStock</td>
					<td><img src="@ViewBag.api/@item.BookImage" height="80" width="50" /></td>
					<td>
						<a asp-area="Owners" asp-controller="Book" asp-action="Update" asp-route-id="@item.BookId"><i class="bi bi-pen-fill" style="color: black;"></i></a>
					</td>
					<td>
						<a asp-action="Delete" asp-route-id="@item.BookId" onclick="return confirm('Are you sure you want to delete this?')"><i class="bi bi-trash-fill" style="color: red;"></i></a>
					</td>
				</tr>

			}
		</tbody>
	</table>
</div>