@model ShowIndexView
@{
	ViewData["Title"] = "Home Page";
}
@section stylesheets {
	<!-- Vendor CSS Files -->
	<link href="~/vendor/aos/aos.css" rel="stylesheet">
	<link href="~/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
	<link href="~/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
	<link href="~/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
	<link href="~/css/homepage.css" rel="stylesheet">
}
<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">

	<div class="container">
		<div class="row">
			<div class="col-lg-6 d-lg-flex flex-lg-column justify-content-center align-items-stretch pt-5 pt-lg-0 order-2 order-lg-1"
				 data-aos="fade-up">
				<div>
					<h1>App landing page template</h1>
					<h2>
						Lorem ipsum dolor sit amet, tota senserit percipitur ius ut, usu et fastidii forensibus
						voluptatibus. His ei nihil feugait
					</h2>
					<a href="#" class="download-btn"><i class="bx bxl-play-store"></i> Google Play</a>
					<a href="#" class="download-btn"><i class="bx bxl-apple"></i> App Store</a>
				</div>
			</div>
			<div class="col-lg-6 d-lg-flex flex-lg-column align-items-stretch order-1 order-lg-2 hero-img"
				 data-aos="fade-up">
				<img src="~/img/hero-img.png" class="img-fluid" alt="">
			</div>
		</div>
	</div>

</section><!-- End Hero -->

<main id="main">
	<!-- ======= Gallery Section ======= -->
	<section id="gallery" class="gallery">
		<div class="container" data-aos="fade-up">

			<div class="section-title">
				<h2>Gallery</h2>
				<p>
					Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit
					sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias
					ea. Quia fugiat sit in iste officiis commodi quidem hic quas.
				</p>
			</div>

		</div>

		<div class="container" data-aos="fade-up">
			<div class="gallery-slider swiper">
				<div class="swiper-wrapper">
					@foreach (var gallary in Model.Galleries)
					{
						<div class="swiper-slide">
							<a href="@gallary.BookImage" class="gallery-lightbox" data-gall="gallery-carousel">
								<img src="@gallary.BookImage" class="img-fluid" alt="@gallary.BookTitle">
							</a>
						</div>
					}
				</div>
				<div class="swiper-pagination"></div>
			</div>

		</div>
	</section><!-- End Gallery Section -->
	<!-- ======= Services Section ======= -->
	<section id="services" class="services section-bg">
		<div class="container" data-aos="fade-up">
			<div class="section-title">
				<h2>Services</h2>
			</div>
			<!-- icons section starts -->
			<section class="icons-container">
				<div class="icons">
					<img src="~/img/icon-1.png" alt="" />
					<div class="info">
						<h3>Reasonable delivery fee</h3>
						<span>In Cantho City</span>
					</div>
				</div>
				<div class="icons">
					<img src="~/img/icon-2.png" alt="" />
					<div class="info">
						<h3>10 days returns</h3>
						<span>Moneyback guarantee</span>
					</div>
				</div>
				<div class="icons">
					<img src="~/img/icon-3.png" alt="" />
					<div class="info">
						<h3>Offer &amp; Gifts</h3>
						<span>More than 5 orders in 1 month</span>
					</div>
				</div>
			</section>
			<!-- icons section ends -->

		</div>
	</section><!-- End Services Section -->

	<section>
		<div class="container" data-aos="fade-up">
			<div class="section-title">
				<h2>Best Selling</h2>
			</div>

			<div class="row">
				@foreach (var best in Model.BestSellings)
				{
					decimal PriceSale = best.BookPrice - (best.BookPrice * ((decimal)best.SalePercent / 100m));
					<div class="col-lg-3 mb-4">
						<div class="card">
							<img class="mx-auto" src="@best.BookImage" style="border: none;" width="100%" height="100%" />
							<div class="card-body text-center mx-auto">
								<h5 class="card-title fw-bold">@best.BookTitle</h5>
								<div class="d-flex justify-content-center align-items-end">
									@if (best.BookPrice != PriceSale)
									{
										<del>$@best.BookPrice.ToString("N2")</del>
									}
									<p class="card-text ms-2"><b>$@PriceSale.ToString("N2")</b></p>
								</div>
							</div>
							<div class="card-body text-center mx-auto">
								<a href="#" class="btn details px-auto text-dark fw-bold">view details</a><br />
								<form asp-controller="Cart" asp-action="AddToCart" asp-route-bookId="@best.BookId" method="post" onsubmit="return CheckStock(@best.BookStock)" class="mb-2">
									<input type="hidden" name="quantity" value="1">
									<button type="submit" class="btn cart px-auto">ADD TO CART</button>
								</form>
							</div>
						</div>
					</div>
				}
			</div>
		</div>
	</section>

	<!-- ======= Contact Section ======= -->
	<section id="contact" class="contact">
		<div class="container" data-aos="fade-up">

			<div class="section-title">
				<h2>Contact</h2>
				<p>
					Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit
					sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias
					ea. Quia fugiat sit in iste officiis commodi quidem hic quas.
				</p>
			</div>

			<div class="row">

				<div class="col-lg-6">
					<div class="row">
						<div class="col-lg-6 info">
							<i class="bx bx-map"></i>
							<h4>Address</h4>
							<p>A108 Adam Street,<br>New York, NY 535022</p>
						</div>
						<div class="col-lg-6 info">
							<i class="bx bx-phone"></i>
							<h4>Call Us</h4>
							<p>+1 5589 55488 55<br>+1 5589 22548 64</p>
						</div>
						<div class="col-lg-6 info">
							<i class="bx bx-envelope"></i>
							<h4>Email Us</h4>
							<p>contact@example.com<br>info@example.com</p>
						</div>
						<div class="col-lg-6 info">
							<i class="bx bx-time-five"></i>
							<h4>Working Hours</h4>
							<p>Mon - Fri: 9AM to 5PM<br>Sunday: 9AM to 1PM</p>
						</div>
					</div>
				</div>

				<div class="col-lg-6">
					<form action="forms/contact.php" method="post" role="form" class="php-email-form"
						  data-aos="fade-up">
						<div class="form-group">
							<input placeholder="Your Name" type="text" name="name" class="form-control" id="name"
								   required>
						</div>
						<div class="form-group mt-3">
							<input placeholder="Your Email" type="email" class="form-control" name="email"
								   id="email" required>
						</div>
						<div class="form-group mt-3">
							<input placeholder="Subject" type="text" class="form-control" name="subject"
								   id="subject" required>
						</div>
						<div class="form-group mt-3">
							<textarea placeholder="Message" class="form-control" name="message" rows="5"
									  required></textarea>
						</div>
						<div class="my-3">
							<div class="loading">Loading</div>
							<div class="error-message"></div>
							<div class="sent-message">Your message has been sent. Thank you!</div>
						</div>
						<div class="text-center"><button type="submit">Send Message</button></div>
					</form>
				</div>

			</div>

		</div>
	</section><!-- End Contact Section -->
</main><!-- End #main -->
@section scripts {
	<!-- Vendor JS Files -->
	<script src="~/vendor/aos/aos.js"></script>
	<script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="~/vendor/glightbox/js/glightbox.min.js"></script>
	<script src="~/vendor/swiper/swiper-bundle.min.js"></script>
	<script src="~/vendor/php-email-form/validate.js"></script>

	<!-- Template Main JS File -->
	<script src="~/js/main.js"></script>
}
