@model ShowIndexView
@{
	ViewData["Title"] = "Home Page";
}
@section stylesheets {
	<link href="~/css/homepage.css" rel="stylesheet">
}
<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">

	<div class="container">
		<div class="row">
			<div class="col-lg-6 d-lg-flex flex-lg-column justify-content-center align-items-stretch pt-5 pt-lg-0 order-2 order-lg-1"
				 data-aos="fade-up">
				<div>
					<h1>FPT Book</h1>
					<h2>
						Behind every successful man there is a woman.
						There is also at least one book—or maybe a bookshelf—behind everyone's achievement.
					</h2>
					<a href="#" class="download-btn"><i class="bx bxl-play-store"></i> Google Play</a>
					<a href="#" class="download-btn"><i class="bx bxl-apple"></i> App Store</a>
				</div>
			</div>
			<div class="col-lg-6 d-lg-flex flex-lg-column align-items-stretch order-1 order-lg-2 hero-img"
				 data-aos="fade-up">
				<img src="~/img/homepage.jpg" class="img-fluid" alt="">
			</div>
		</div>
	</div>

</section><!-- End Hero -->

<main id="main">
	<!-- ======= Gallery Section ======= -->
	<section id="gallery" class="gallery">
		<div class="container" data-aos="fade-up">

			<div class="section-title">
				<h2>Gallery</h2>
				<p>
					Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit
					sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias
					ea. Quia fugiat sit in iste officiis commodi quidem hic quas.
				</p>
			</div>

		</div>

		<div class="container" data-aos="fade-up">
			<div class="gallery-slider swiper">
				<div class="swiper-wrapper">
					@foreach (var gallary in Model.Galleries)
					{
						<div class="swiper-slide">
							<a href="@gallary.BookImage" class="gallery-lightbox" data-gall="gallery-carousel">
								<img src="@ViewBag.api/@gallary.BookImage" class="img-fluid" alt="@gallary.BookTitle">
							</a>
						</div>
					}
				</div>
				<div class="swiper-pagination"></div>
			</div>

		</div>
	</section><!-- End Gallery Section -->
	<!-- ======= Services Section ======= -->
	<section id="services" class="services section-bg">
		<div class="container" data-aos="fade-up">
			<div class="section-title">
				<h2>Services</h2>
			</div>
			<!-- icons section starts -->
			<section class="icons-container">
				<div class="icons">
					<img src="~/img/icon-1.png" alt="" />
					<div class="info">
						<h3>Reasonable delivery fee</h3>
						<span>In Cantho City</span>
					</div>
				</div>
				<div class="icons">
					<img src="~/img/icon-2.png" alt="" />
					<div class="info">
						<h3>10 days returns</h3>
						<span>Moneyback guarantee</span>
					</div>
				</div>
				<div class="icons">
					<img src="~/img/icon-3.png" alt="" />
					<div class="info">
						<h3>Offer &amp; Gifts</h3>
						<span>More than 5 orders in 1 month</span>
					</div>
				</div>
			</section>
			<!-- icons section ends -->

		</div>
	</section><!-- End Services Section -->

	<section>
		<div class="container" data-aos="fade-up">
			<div class="section-title">
				<h2>Best Selling</h2>
			</div>

			<div class="row">
				@foreach (var best in Model.BestSellings)
				{
					decimal PriceSale = best.BookPrice - (best.BookPrice * ((decimal)best.SalePercent / 100m));
					<div class="col-lg-3 mb-4">
						<div class="card">
							<img class="mx-auto" src="@ViewBag.api/@best.BookImage" style="border: none;" width="100%" height="100%" alt="@best.BookTitle" />
							<div class="card-body text-center mx-auto">
								<h5 class="card-title fw-bold">@best.BookTitle</h5>
								<div class="d-flex justify-content-center align-items-end">
									@if (best.BookPrice != PriceSale)
									{
										<del>$@best.BookPrice.ToString("N2")</del>
									}
									<p class="card-text ms-2"><b>$@PriceSale.ToString("N2")</b></p>
								</div>
							</div>
							<div class="card-body text-center mx-auto">
								<a asp-controller="Home" asp-action="Detail" asp-route-id="@best.BookId" class="btn details px-auto text-dark fw-bold">view details</a><br />
								<form asp-controller="Cart" asp-action="AddToCart" asp-route-bookId="@best.BookId" method="post" onsubmit="return CheckStock(@best.BookStock)" class="mb-2">
									<input type="hidden" name="quantity" value="1">
									<button type="submit" class="btn cart px-auto">ADD TO CART</button>
								</form>
							</div>
						</div>
					</div>
				}
			</div>
		</div>
	</section>
</main><!-- End #main -->
