@model DisplayOrderView
@{
	ViewData["Title"] = "Orders List";
}
<div class="pt-2 mb-2">
	<h1 class="text-center mb-4">Orders List</h1>

	<table id="example" class="table table-striped" style="width:100%">
		<thead>
			<tr>
				<th>
					<strong>ID</strong>
				</th>
				<th>
					<strong>Order date</strong>
				</th>
				<th>
					<strong>Delivery date</strong>
				</th>
				<th>
					<strong>Customer Name</strong>
				</th>
				<th>
					<strong>Telephone</strong>
				</th>
				<th>
					<strong>Address</strong>
				</th>
				<th>
					<strong>Shipping Fee</strong>
				</th>
				<th>
					<strong>Status</strong>
				</th>
				<th>
					<strong>Delete</strong>
				</th>
			</tr>
		</thead>

		<tbody>
			@foreach (var order in Model.Orders)
			{
				<tr>
					<td>
						<a asp-controller="OrderDetail" asp-action="Index" asp-route-orderId="@order.OrderId" style="text-decoration: none;">@order.OrderId</a>
					</td>

					<td>@order.OrderDate.ToString("MM/dd/yyyy HH:mm:ss")</td>
					<td>@order.DeliveryDate.ToString("MM/dd/yyyy HH:mm:ss")</td>
					<td>@order.OrderName</td>
					<td>@order.OrderPhone</td>
					<td>@order.DeliveryLocal</td>
					<td><b>$@order.ShippingFee.ToString("N2")</b></td>
					<td>
						<select id="orderStatus_@order.OrderId" name="orderStatus" class="form-control orderStatus" data-id="@order.OrderId">
							@foreach (var status in Model.OrderStatus)
							{
								if (order.OrderStatus.CompareTo(status) == 0)
								{
									<option value="@((int)status)" selected>@status</option>
								}
								else
								{
									<option value="@((int)status)">@status</option>
								}
							}
						</select>
					</td>
					<td>
						<form method="POST" action="order/delete/29?_method=DELETE"
						  onsubmit="return deleteConfirm()">
							<button type="submit" style="border: none; cursor: pointer;">
								<i class="bi bi-trash-fill" style="color: red;"></i>
							</button>
						</form>
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script>
	$(document).ready(function () {
		$(".orderStatus").change(function (event) {
			event.preventDefault();
			var id = $(this).attr("data-id");
			
			$.ajax({
				url: "https://localhost:7076/api/Orders/" + id,
				type: "get",
				data: {
					id: id
				},
				processData: false,
				contentType: false,
				success: function (result, status, xhr) {
					var orderStatus = document.getElementById("orderStatus_" + id).value;
					result['orderStatus'] = orderStatus;

					$.ajax({
						url: "https://localhost:7076/api/Orders/" + id,
						type: "put",
						data: {
							id: result['orderId'],
							obj: result
						},
						success: function (result, status, xhr) {
							window.location.href = '/Owners';
						},
						error: function (xhr, status, error) {
							console.log(xhr);
						}
					});
				},
				error: function (xhr, status, error) {
					console.log(xhr);
				}
			});
		})
	})
</script>