@model IEnumerable<BusinessObjects.Order>
@{
	ViewData["Title"] = "Orders List";
}
<div class="pt-2 mb-2">
	<h1 class="text-center mb-4">Orders List</h1>

	<table id="example" class="table table-striped" style="width:100%">
		<thead>
			<tr>
				<th>
					<strong>ID</strong>
				</th>
				<th>
					<strong>Order date</strong>
				</th>
				<th>
					<strong>Delivery date</strong>
				</th>
				<th>
					<strong>Customer Name</strong>
				</th>
				<th>
					<strong>Telephone</strong>
				</th>
				<th>
					<strong>Address</strong>
				</th>
				<th>
					<strong>Shipping Fee</strong>
				</th>
				<th>
					<strong>Status</strong>
				</th>
				<th>
					<strong>Delete</strong>
				</th>
			</tr>
		</thead>

		<tbody>
			@foreach (var order in Model)
			{
				<tr>
					<td>
						<a asp-controller="OrderDetail" asp-action="Index" asp-route-orderId="@order.OrderId" style="text-decoration: none;">@order.OrderId</a>
					</td>

					<td>@order.OrderDate.ToString("MM/dd/yyyy HH:mm:ss")</td>
					<td>@order.DeliveryDate.ToString("MM/dd/yyyy HH:mm:ss")</td>

					<td>@order.OrderName</td>
					<td>@order.OrderPhone</td>
					<td>@order.DeliveryLocal</td>
					<td><b>$@order.ShippingFee.ToString("N2")</b></td>
					<td>
						<select class="form-control">
							<option>Wait</option>
							<option>Confirm</option>
							<option>Sent</option>
							<option>Received</option>
							<option>Canceled</option>
						</select>
					</td>
					<td>
						<form method="POST" action="order/delete/29?_method=DELETE"
						  onsubmit="return deleteConfirm()">
							<button type="submit" style="border: none; cursor: pointer;">
								<i class="bi bi-trash-fill" style="color: red;"></i>
							</button>
						</form>
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>