@model IEnumerable<BusinessObjects.Feedback>
@{
	ViewData["Title"] = "Feedback List";
}
<div class="pt-2 mb-2">
	<h1 class="text-center">Feedback List</h1>
	<table id="example" class="table table-striped" style="width:100%">
		<thead>
			<tr>
				<th>
					<strong>ID</strong>
				</th>
				<th>
					<strong>Content</strong>
				</th>
				<th>
					<strong>Feedback Date</strong>
				</th>
				<th>
					<strong>Username</strong>
				</th>
				<th>
					<strong>Book</strong>
				</th>
				<th>
					<strong>Image</strong>
				</th>
				<th>
					<strong>Checked</strong>
				</th>
				<th>
					<strong>Delete</strong>
				</th>
			</tr>
		</thead>
		@foreach (var item in Model)
		{
			<tbody>
				<tr>
					<td>@item.FeedId</td>
					<td>@item.Content</td>
					<td>@item.FeedDate</td>
					<td>@item.User.UserName</td>
					<td>@item.Book.BookTitle</td>
					<td><img src="@item.Book.BookImage" height="80" width="50" /></td>
					<td>
						@if (item.FeedStatus == BusinessObjects.Constraints.FeedStatus.Unchecked)
						{
							<a class="btn btn-danger" width="10" height="10" asp-area="Owners" asp-controller="Feedback" asp-action="Accept" asp-route-id="@item.FeedId">
								<i class="bi bi-x-lg"></i>
							</a>
						}
						else
						{
							<a class="btn btn-success" width="10" height="10" asp-area="Owners" asp-controller="Feedback" asp-action="Accept" asp-route-id="@item.FeedId">
								<i class="bi bi-check-lg"></i>
							</a>
						}
					</td>
					<td>
						<a asp-action="Delete" asp-route-id="@item.FeedId" onclick="return confirm('Are you sure you want to delete this?')"><i class="bi bi-trash-fill" style="color: red;"></i></a>
					</td>
				</tr>
			</tbody>
		}
	</table>
</div>