@model IEnumerable<BusinessObjects.AppUser>
@{
	ViewData["Title"] = "Member Management";
}
<div class="pt-2 mb-2">
	<h1 class="text-center">Member Management</h1>
	<div class="text-center mb-2 row">
		<div class="col-12 d-flex justify-content-center align-items-center">
			<a asp-area="Admins" asp-controller="Member" asp-action="Create" class="btn btn-outline-info">
				<i class="bi bi-plus-circle"></i>
				Add
			</a>
		</div>
	</div>
	<table id="example" class="table table-striped" style="width:100%">
		<thead>
			<tr>
				<th>
					<strong>Member  Name</strong>
				</th>
				<th>
					<strong>Member Phone</strong>
				</th>
				<th>
					<strong>Member Mail</strong>
				</th>
				<th>
					<strong>Member Address</strong>
				</th>
				<th>
					<strong>Edit</strong>
				</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{

				<tr>
					<td>@item.FirstName @item.LastName</td>
					<td>@item.PhoneNumber</td>
					<td>@item.Email</td>
					<td>@item.Address</td>
					<td>
						<a asp-area="Admins" asp-controller="Member" asp-action="Edit" asp-route-id="@item.Id"><i class="bi bi-pen-fill" style="color: black;"></i></a>
					</td>
				</tr>

			}
		</tbody>
	</table>
</div>