@model IEnumerable<BusinessObjects.Contact>
@{
	ViewData["Title"] = "Contacts List";
}
<div class="pt-2 mb-2">
	<h1 class="text-center">Contacts List</h1>
	<table id="example" class="table table-striped" style="width:100%">
		<thead>
			<tr>
				<th>
					<strong>ID</strong>
				</th>
				<th>
					<strong>Contact Name</strong>
				</th>
				<th>
					<strong>Email</strong>
				</th>
				<th>
					<strong>Subject</strong>
				</th>
				<th>
					<strong>Message</strong>
				</th>
				<th>
					<strong>Reply</strong>
				</th>
				<th>
					<strong>Date</strong>
				</th>
				<th>
					<strong>Reply Date</strong>
				</th>
				<th>
					<strong>Edit</strong>
				</th>
				<th>
					<strong>Delete</strong>
				</th>
			</tr>
		</thead>
		@foreach (var item in Model)
		{
			<tbody>
				<tr>
					<td >@item.ContactId</td>
					<td >@item.ContactName</td>
					<td >@item.ContactEmail</td>
					<td >@item.ContactSubject</td>
					<td >@item.ContactMessage</td>
					<td >@item.Reply</td>
					<td >@item.ContactDate</td>
					<td >@item.ReplyDate</td>
					<td >
						<a asp-area="Owners" asp-controller="Contact" asp-action="Update" asp-route-id="@item.ContactId"><i class="bi bi-pen-fill" style="color: black;"></i></a>
					</td>
					<td >
						<a asp-action="Delete" asp-route-id="@item.ContactId" onclick="return confirm('Are you sure you want to delete this?')"><i class="bi bi-trash-fill" style="color: red;"></i></a>
					</td>
				</tr>
			</tbody>
		}
	</table>
</div>